<?xml version="1.0"?>

<model>
  <name>Door 90cm left</name>
  <version>1.0</version>
  <sdf>urdf/door_90_left.urdf</sdf>

  <author>
    <name>Daniel Giełdowski</name>
    <email>dan.gield@gmail.com</email>
  </author>

  <description>
    Functional door, 90cm wide, opening to the left.
  </description>
</model>
