<?xml version="1.0"?>

<model>
  <name>Marker plate</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Daniel Giełdowski</name>
    <email>dan.gield@gmail.com</email>
  </author>

  <description>
    Plate with marker, plate size - 12x12cm, marker size - 10x10cm.
  </description>
</model>
