<?xml version="1.0"?>

<model>
  <name>Three drawer desk</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Daniel Giełdowski</name>
    <email>dan.gield@gmail.com</email>
  </author>

  <description>
    Wooden desk with three drawers. The drawers does not open.
  </description>
</model>
