<?xml version="1.0"?>

<model>
  <name>Info plate</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Daniel Giełdowski</name>
    <email>dan.gield@gmail.com</email>
  </author>

  <description>
    Info plate, A4-sized, placed vertically, divided into lower and upper part.
  </description>
</model>
