<?xml version="1.0"?>

<model>
  <name>Vitals monitor</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Daniel Giełdowski</name>
    <email>dan.gield@gmail.com</email>
  </author>

  <description>
    Used to monitor vital functions of hospital's patient.
  </description>
</model>
