<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot"  default="steel"/>
  <arg name="world_version" default="2"/>
  <arg name="tuck_arm" default="false"/>
  <arg name="gzpose"   default="-x -4.5 -y -4.0 -z 0 -R 0.0 -P 0.0 -Y 0.0"/>
  
  <!-- custom pre-recorded motions -->
  <rosparam file="$(find tiago_sim_hospital)/config/motions/tiago_motions.yaml" command="load" />
  <group if="$(eval robot == 'titanium' or robot == 'steel')">
    <rosparam file="$(find tiago_sim_hospital)/config/motions/tiago_motions_$(arg robot).yaml" command="load" />
  </group>

  <include file="$(find tiago_sim_hospital)/launch/tiago_navigation_hospital.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="world_version" value="$(arg world_version)"/>
    <arg name="tuck_arm" value="$(arg tuck_arm)"/>
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

  <arg name="markerId"        default="582"/>
  <arg name="markerSize"      default="0.10"/>    <!-- in m -->

  <!-- tracking single marker position -->
  <node pkg="aruco_ros" type="single"  name="aruco_single">
    <remap from="/camera_info"       to="/xtion/rgb/camera_info" />
    <remap from="/image"             to="/xtion/rgb/image_rect_color" />
    <param name="image_is_rectified" value="true"/>
    <param name="marker_size"        value="$(arg markerSize)"/>
    <param name="marker_id"          value="$(arg markerId)"/>
    <param name="reference_frame"    value="/base_footprint"/>   <!-- frame in which the marker pose will be expressed -->
    <param name="camera_frame"       value="/xtion_rgb_optical_frame"/>
    <param name="marker_frame"       value="/aruco_frame" />
    <param name="corner_refinement"  value="SUBPIX" />
  </node>

  <!-- spawn medicine cups -->
  <arg name="medicine_cup_file" default="$(find tiago_sim_hospital)/models/medicine_cup/model.sdf"/>
  <node name="medicine_cup_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x -4.75 -y -5 -z 0.86 -sdf -model medicine_cup -file $(arg medicine_cup_file)" respawn="false" output="screen" />
  <!-- spawn marker plate in kitchen -->
  <arg name="marker_plate_file" default="$(find tiago_sim_hospital)/models/marker_plate/model.sdf"/>
  <node name="marker_plate_spawner_kitchen" pkg="gazebo_ros" type="spawn_model"
        args="-x -4.65 -y -5 -z 0.852 -P 1.57 -sdf -model marker_plate_kitchen -file $(arg marker_plate_file)" respawn="false" output="screen" />
  <!-- spawn marker plate in kitchen -->
  <node name="marker_plate_spawner_s1" pkg="gazebo_ros" type="spawn_model"
        args="-x 0.56 -y -6.5 -z 0.74 -P 1.57 -Y 0.785 -sdf -model marker_plate_s1 -file $(arg marker_plate_file)" respawn="false" output="screen" />

</launch>
