<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="robot"  default="titanium"/>
  <arg name="world_version" default="2"/>
  
  <!-- custom pre-recorded motions -->
  <rosparam file="$(find tiago_sim_hospital)/config/motions/tiago_motions_$(arg robot).yaml" command="load" />

  <include file="$(find tiago_sim_hospital)/launch/tiago_navigation_hospital.launch">
    <arg name="robot" value="$(arg robot)"/>
    <arg name="world_version" value="$(arg world_version)"/>
  </include>

  <!-- spawn medicine cups -->
  <arg name="medicine_cup_file" default="$(find tiago_sim_hospital)/models/medicine_cup/model.sdf"/>
  <node name="medicine_cup_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x -4.75 -y -5 -z 0.85 -sdf -model medicine_cup -file $(arg medicine_cup_file)" respawn="false" output="screen" />

</launch>
