<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world_version" default="2"/>

  <include file="$(find tiago_sim_hospital)/launch/tiago_manipulation_hospital.launch">
    <arg name="world_version" value="$(arg world_version)"/>
  </include>

  <node pkg="tiago_sim_hospital" type="follow_marker" name="arm_follow_marker">
  </node>

  <!-- spawn marker plate-->
  <arg name="marker_plate_file" default="$(find tiago_sim_hospital)/models/marker_plate/model.sdf"/>
  <node name="marker_plate_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x -7 -y -4 -z 1 -sdf -model marker_plate -file $(arg marker_plate_file)" respawn="false" output="screen" />

</launch>
